.d--fl {
  display: flex;
}
.jc--c {
  justify-content: center;
}
.ai--c {
  align-items: center;
}
.fd--c {
  flex-direction: column;
}
.fd--r {
  flex-direction: row;
}
.jc--sb {
  justify-content: space-between;
}
